<form>
    <input type="text" name="search" />

    <input type="submit"/>
</form>

        名称：{{ secShortName }}
<br />
        交易日：{{ tradeDate }}
<br />
        最高：{{ highestPrice }}
<br />
        最低：{{ lowestPrice }}
<br />
        关盘：{{ closePrice }}
<br />